*{
	margin: 0;
}

header ul{
	padding-left: 0;
}

header ul:after{
	content: "";
	display: block;
	clear: both;
}

header li{
	list-style-type: none;
	float: left;
	background: #5af;
	text-align: center;
	width: 20%;
}

header li a{
	display: block;
	text-decoration: none;
	color: white;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

header li a:hover{
	background: #f8f;
}

.middle{
	clear: both;
}

.middle:after{
	content: "";
	display: block;
	clear: both;
}

.middle main{
	float: left;
	width: 80%;
	padding: 1rem;
	box-sizing: border-box;
}

.middle main section{
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 1rem;
}

.middle main img{
	width: 50%;
}

.clear-both{
	clear:both;
}

.middle nav{
	float:left;
	width:20%;
}

.middle nav ul{
	padding-left: 0;
}

.middle nav li{
	list-style-type: none;
	background: #5af;
	text-align: center;
}

.middle nav li a{
	display: block;
	text-decoration: none;
	color: white;
}

.middle nav li a:hover{
	background: #f8f;
}

h1{
	color: #5af;
	border-left: 0.5rem solid #5af;
	padding: 0.5rem;
	letter-spacing: 0.3rem;
}

main h1:last-child{
	border-left: 0.5rem solid #ff8
}

h2{
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 1rem;
	font-size: 0.9rem;
	border-top: 0.1rem solid #aaa;
	border-bottom: 0.1rem solid #aaa;
	text-align: center
}

footer{
	background: blue;
	padding: 1rem;
}
